<div class="" id="accordion">
    <div class="">
        <div class="">
            <h3 class="panel-title">
                    À propos
            </h3>
        </div>
        <div id="about" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/fr/about/about">À propos</a>
                <a class="nav-link" href="/help/fr/about/project">Le projet</a>
                <a class="nav-link" href="/help/fr/about/about_hub">À propos de ce hub</a>
            </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <h3 class="panel-title">
                    Membres
            </h3>
        </div>
        <div id="members" class="doco-section">
            <div class="flex-column">
               <a class="nav-link" href="/help/member/member_guide">Guide</a>
               <a class="nav-link" href="/help/member/bbcode">Référence du BBcode</a>
               <a class="nav-link" href="/help/bugs">Signalement des bogues</a>	
               <a class="nav-link" href="/help/member/member_faq">FAQ</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Administrateurs
            </h3>
        </div>
        <div id="administrators" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/admin/administrator_guide">Guide</a>
                <a class="nav-link" href="/help/admin/hub_snapshots">Instantanés de Hub</a>
                <a class="nav-link" href="/help/database">Tables de base de données</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Développeurs
            </h3>
        </div>
        <div id="developers" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/developer/developer_guide">Guide</a>
                <a class="nav-link" href="/help/developer/covenant">Code de conduite</a>
                <a class="nav-link" href="/help/developer/zot_protocol">Zot Protocol</a>
                <a class="nav-link" href="/help/developer/api_zot">Zot API</a>
                <a class="nav-link" href="/help/hooklist">Hooks</a>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="">
            <h3 class="panel-title">
                    Tutoriels
            </h3>
        </div>
        <div id="tutorials" class="doco-section">
            <div class="flex-column">
                <a class="nav-link" href="/help/tutorials/personal_channel">Canal personnel</a>
            </div>
        </div>
    </div>
</div>
